.bg {
    background: url(../img/fondo.jpg);
}
#brand-name{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-left: 10px;
    margin-top: -3px;
}
#carouselExample{
    width: 50%;
    height: 50%;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/FondoCard.jpg);
}
.container{
    margin: 0 auto;
}

/* TARJETAS */
.card{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/FondoCard.jpg);
    float: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.col{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin: 5%;
    padding: 12px;

}

.card-title{
    color: white;
}
.card-text{
    color: white;
}
.btn{
    border-radius: 15px;
    background-color: rgba(140, 0, 255, 0.233);
    border-color: #ff00bf;
    color: #FFFF00;

}
.btn:hover{
    background-color: #ffff00c4;
    border-color: rgb(140, 0, 255);
    color: #ff00bf;
}


/* LOGOS FOOTER */
#fb{
    background-color: #3b5998;
}
#tw{
    background-color: #7f30a3;
}
#git{
    background-color: #333333;
}
#ig{    
    background-color: #b40db4;
}
.navbar-toggler{
    margin-top: -20px;
}
.navbar{
    height: 60px;
}
